doctype html
html
  head
    block head
      block title
        title Talent Login
      block meta
        meta(name='description', content='')
        meta(name='keywords', content='')
      link(rel='stylesheet', href='/stylesheets/uikit.gradient.min.css')
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/uikit.min.js')
  body
    block content
